
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
.container {
   width: 700px;
   height: 100%;
   margin: 1px 35%;
   border: 3px  solid rgb(64, 58, 58);
   box-shadow: rgba(0, 0, 0, 0.24) 2px 6px 16px;
   border-radius: 2%;
   overflow: hidden;
   background-color: #a88c8c;
    
}
.header {
 text-align: center;
 background-color: #97addabd;
 padding: 10px 0;
 letter-spacing: 5px;
}
.main {
    height: 100%;
    background-color: rgba(255, 255, 15, 0.751);
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    
}
.countriWeather{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.photoKyiv , .photoLondon , .photoNewYork{
    width: 100px;
    height: 100px;
}
.degrese{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elementsSubMenu>div{

  width: 120px;
  height: 140px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 box-sizing: border-box;
 flex-direction: column;
 justify-content: center;
 line-height: 20px;
  
}
.elementsSubMenu{
  display: none;
  gap: 20px;
  text-align: center;
}
.subMenu{
  display: flex;
flex-direction: column;
align-items: center;
/* border-bottom: 2px solid black; */
border-bottom: 3px  solid rgb(64, 58, 58);

}
.footer{
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.open1 , .open2 , .open3{
  font-size: 30px;
  font-weight: 700;
}
.info1 ,.info2 ,.info3{
  font-weight: 700;
} 

h2 {
  width: 100px;
  font-size: 26px;
  text-transform:uppercase;
  letter-spacing: 6 px;
}
h2:first-child{
  
}
p{
  font-size: 23px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover{
  transform: rotate(0.5turn);

}

.btn{
  width: 50%;
  text-align: center;
}
.windDirection1, .windDirection2, .windDirection3{
  width: 40px;
  height:40px;
background: url("../img/arrowUp.png");
margin-top: 10px;
}

